This is your new account:<br />
Nickname:<%= params[:user][:nickname] %><br />
Account :<%= params[:user][:account] %><br />
Password:<%= params[:user][:password] %><br />
Email   :<%= params[:user][:email] %><br />

<a href="<%= userindex_path %>">Return</a>